*:focus {
    outline: none
}

html {
    font-family: arial;
}

.wrapper {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    margin-top: 15px;
}

a {
    font-size: 13px;
    color: black;
    text-decoration: none;
    opacity: 0.75;
}

a:hover {
    color: black;
    text-decoration: underline;
}

.wrapper--1 {
    padding-left: 15px;
    justify-self: flex-start;
    align-self: flex-end;
}

.wrapper--2 {
    justify-self: self-end;
    padding-right: 28px;
}

span {
    padding-left: 15px;
   
}
span:nth-child(1) {
    padding-right: 15px;
}

i {
  font-size: 200%;
  position: relative;
  top: 5px;
  color: rgb(70, 70, 70);
  padding-left: 8px;
  
}

i:hover {
    color: black;
}

a.sign {
    color: #ffffff;
    border: 1px solid #4285f4;
    background-color: #4683ea;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 2px;
    position: relative;
    left: 13px;
}

