*:focus {
    outline: none
}

html {
    font-family: arial;
}

nav {
    margin-top: 25px;
    font-size: 13px;
    width: 100%;
}


.nav__1 {
    margin-left: 15px;
    display: flex;
}

.nav__1 a {
    color:rgba(0,0,0,0.87);
}

.nav__2 {
    float: right;
    justify-content: flex-end;
    position: relative;
    top: -24px;
    margin-right: 20px;

}

nav a:hover {
    text-decoration: underline;
}

a:link,
a:visited {
    text-decoration: none;
    padding-right: 15px;
    color: #000;
    cursor: pointer;
}



.ion-android-apps {
    font-size: 200%;
    color: grey;
    position: relative;
    top: 5px;
}

a.sign {
    color: #ffffff;
    border: 1px solid #4285f4;
    background-color: #4285f4;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 2px;
    position: relative;
}

.google {
    display: block;
    margin: auto;
    margin-top: 160px;
    height: 10%
}

input[type="search"] {
    height: 30px;
    width: 480px;
    margin: auto;
    display: block;
    border: 2px solid #dfe1e5;
    padding: 0 20px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    height: 44px;
    background: #fff;;
}
input[type="search"]:hover {
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
}
.bar {
    position: relative;
    margin-top: 30px;
    width: 100%;
}



footer {
    background-color: #f2f2f2;
    bottom: 0;
    height: 35px;
    position: fixed;
    width: 100%;
    font-size: 13px;


}

.footer__1 {
    padding-top: 10px;
    padding-left: 20px;
    color: #5f6368;
}

.footer__2 {
    float: right;
    margin-right: 20px;
}

.footer__2 a:hover {
    text-decoration: underline;

}

.footer__1 a:hover {
    text-decoration: underline;
}

.btn {
    display: flex;
    justify-content: center;
    margin-top: 15px;

}

.btn div {
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    background-color: #f2f2f2;
    font-family: arial, sans-serif;
    font-size: 14px;
    padding: 8px;
    margin-left: 10px;
}

.btn a {
    padding: 2px;
    color: #5F6368;
}

.btn div:hover {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    background-image: -webkit-linear-gradient(top, #f8f8f8, #f1f1f1);
    background-color: #f8f8f8;
    border: 1px solid #c6c6c6;
    padding: px;
    color: #222;
    cursor: pointer;
}